{% extends 'base.html' %}

{% block body %}

<div class="container-sm d-flex justify-content-center align-items-center" >
    <div class="shadow-lg w-75 p-5 m-5 bg-body-secondary">
        <h1 class="h1">Nueva Ruta</h1>
        <form method="post">
            {% csrf_token %}
            {{formulario.as_p}}
            <div class="d-flex justify-content-center align-items-center">
                <button type="submit" class="rounded-0 btn btn-outline-success w-75">Guardar</button>
            </div>
        </form>
    </div>
</div>
    
{% endblock %}