{% extends 'base.html' %}


{% block body %}
<div class="container m-5">
  <div class="row pt-5 text-center">
    <h2>Rutas registradas</h2>
  </div>
  <div class="row p-5">
    {% for r in rutas %}
    <div class="col-sm-4 p-3 mb-5">
      <div class="rounded-0 border-0 card shadow-lg">
        <div class="card-body">
          <div class="d-flex justify-content-between p-md-1">
            <div class="d-flex">
              <div>
                <h1 class="h1">{{r.codigo}}</h2>
              </div>
            </div>
            <div class="align-self-center">
              <h2 class="h4 mb-0">{{r.partida}}</h2>
            </div>
            <div class="align-self-center">
              <h2 class="h4 mb-0">{{r.destino}}</h2>
            </div>
          </div>
        </div>
        <div class="card-footer bg-body">
          <div class="d-flex justify-content-center align-items-center">
            <h3 class="h3">{{r.precio}}$</h3>
          </div>
          <div class="d-flex justify-content-end align-items-center">
            <a href="/rutas/administracion/editar/{{r.id}}"
              class="rounded-0 btn btn-sm me-2 btn-outline-warning">Editar</a>
            <form action="/rutas/administracion/eliminar/{{r.id}}" method="post">
              {% csrf_token %}
              <button class="rounded-0 btn btn-outline-danger btn-sm">
                Eliminar
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
{% endblock %}