{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <h1 class="h1">Inicio</h1>
    </div>
    <div class="row">
        <div class="col w-25">
           <img src="https://imagenes.primicias.ec/files/image_480_270/uploads/2024/05/26/6653a187e0488.jpeg" alt="" class="img img-fluid">
        </div>
        <div class="col w-50">
            <h1 class="h1"> Ofrecemos buses turísticos para tus viajes</h1>
        </div>
        <div class="col w-25">
            <a href="/buses/" class="btn btn-outline-success">Ver unidades</a>
        </div>
    </div>
{% endblock %}
    