{% extends 'base.html' %}


{% block body %}
<div class="row p-5">

    {% for v in viajes %}
    <div class="col-sm-3 p-3 mb-5">
        <div class="rounded-0 border-0 card shadow-lg">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div>
                            <h4>{{v.codigo}}</h4>
                        </div>
                    </div>
                    <div class="col">
                        <p class="mb-0 text-center">Ruta: {{v.ruta}}</h2>
                    </div>
                    <div class="col">
                        <p class="text-center mb-0">{{v.bus}}</h2>
                    </div>
                    <div class="col">
                        <p class="text-center mb-0">{{v.horario}}</h2>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-body">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="/viajes/administracion/editar/{{v.id}}"
                        class="rounded-0 btn btn-sm me-2 btn-outline-warning">Editar</a>
                    <form action="/viajes/administracion/eliminar/{{v.id}}" method="post">
                        {% csrf_token %}
                        <button class="rounded-0 btn btn-outline-danger btn-sm">
                            Eliminar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}