{% extends 'base.html' %}


{% block body %}
<div class="container mt-5">
    <div class="row text-center mt-5 pt-5">
        <h2>Viajes Registrados</h2>
    </div>
    <div class="row ">
        {% for v in viajes %}
        <div class="col-lg-6 p-3 mb-5">
            <div class="rounded-0 border-0 card shadow-lg h-100">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h4 class="h4">{{v.codigo}}</h4>
                        </div>
                        <div class="col-6 d-flex align-items-center mb-2">
                            <p class="mb-0 text-center"><b>Ruta:</b> {{v.ruta}}</h2>
                        </div>
                        <div class="col-6">
                            <p class="text-center mb-0"><b>Unidad:</b> {{v.bus}}</h2>
                        </div>
                        <div class="col-12">
                            <p class="text-center mb-0"><b>Horario:</b> {{v.horario}}</h2>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-body">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="/viajes/administracion/editar/{{v.id}}"
                            class="rounded-0 btn btn-sm me-2 btn-outline-warning">Editar</a>
                        <form action="/viajes/administracion/eliminar/{{v.id}}" method="post">
                            {% csrf_token %}
                            <button class="rounded-0 btn btn-outline-danger btn-sm">
                                Eliminar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    
    </div>
</div>
{% endblock %}